<ul>
   <li><%= link_to 'Registered Users', :controller => 'admin', :action => 'list_registration'%> (<%= link_to 'excel', :controller => 'admin' , :action => 'list_registration.csv' %>)</li>
   <li><%= link_to 'Events', :controller => 'events' %></li>
   <li><%= link_to 'Printable Flyer', :controller => 'welcome', :action => 'flyer' %></li>
   <li><%= link_to 'Edit Faqs', :controller => 'faqs', :action => 'edit_list' %></li>
   <li><%= link_to 'Logout', :controller => 'login', :action => 'logout' %></li>
</ul>
