<div class="centered">
<h1><span class="primcolor">Buckit</span><span class="altcolor">Week</span><span class="primcolor"><%=@main_event.year%></span> Invoice for <%=h "#{@registration.first_name} #{@registration.last_name}"%></h1>
</div>

<h2>Address</h2>
<p>
<%=h "#{@registration.first_name} #{@registration.middle_name} #{@registration.last_name}"%><br />
<%=h "#{@registration.address1}"%><br />
<% if ! @registration.address2.nil? && @registration.address2.length > 0 %>
<%=h "#{@registration.address2}"%><br />
<% end %>
<%=h "#{@registration.city} #{@registration.state} #{@registration.zip_code}" %>
</p>

<h2>Contact Info</h2>
<p>
Email: <%=h "#{@user.email}"%><br />
Phone: <%=h "#{@registration.phone}"%><br />
Travel Phone: <%=h "#{@registration.mobile}"%><br />
Shirt Size: <%=h "#{@registration.shirt}"%><br />      
</p>

<h2>Payment Due</h2>
<p>
Amount due: <%=h number_to_currency(@registration.amount_owed, :precision => 2)%>
</p>

<p>Your spot is not reserved until the registration
fee is received.</p>

<p>This amount is refundable up until 1 month before
the event. Between one month before up until 10 days 
before, 50% is refundable. Within 10 days of the
event start, the registration fee is non-refundable.</p>

<p>
You can make your check out to <strong>Buckit Week</strong>
and mail it to
      <blockquote>
      Buckit Week c/o Craig Shakarji<br />
      430 Little Quarry Rd
      Gaithersburg MD 20878
      </blockquote>
</p>
