<h1>Listing age_ranges</h1>

<table>
  <tr>
    <th>Range</th>
  </tr>

<% @age_ranges.each do |age_range| %>
  <tr>
    <td><%=h "#{age_range.low} - #{age_range.high}" %></td>
    <td><%= link_to 'Show', age_range %></td>
    <td><%= link_to 'Edit', edit_age_range_path(age_range) %></td>
    <td><%= link_to 'Destroy', age_range, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New age_range', new_age_range_path %>