<div class="centered">
<h1 class="altcolor">Get a firmer grip on key concepts in the Word of God</h1>

<div class="scripturebox vevent" title="BUCKIT Week <%= @event_year %>">
  <span class="summary">BUCKIT<span class="altcolor">WEEK</span><%= @event_year %></span>
  <% if @main_event.speakers.first.index(/Cancel/) %>
       <p>BuckitWeek <%=@event_year %> registration is closed. If you have questions 
           about the event, please email registrar@buckitweek.org or call Craig
           at 301-509-2180</p>
  <% elsif @main_event %>
  <ul>
    <li> Teachers: <%= @main_event.speakers.to_sentence %>
    </li>
    <li class="location"><%=h @main_event.hotel %>, <%=h @main_event.location %></li>
    <li> Registration Cost: $<%=h @main_event.registration_cost %></li>
    <li> <abbr class="dtstart" title="<%= @main_event.start_cal %>"><%= @main_event.start_text %></abbr> - <abbr class="dtend" title="<%= @main_event.end_cal %>"><%= @main_event.end_text %></abbr>, <%= @event_year %></li>
    <li> Topics listed on the <%= link_to 'FAQ page', '/welcome/faq' %></li>
    <% if @main_event.registration_open %>
       <li><%= link_to 'Online Registration is Open!', :controller => 'registration', :action => 'register' %>!</li>
    <% else %>
       <li>Online registration is not open yet, check back soon.</li>
    <% end %>
  </ul>
  <% else %>
  <ul>
    <li>Details for BUCKIT Week <%= @event_year%> have not been announced yet.</li>
  </ul>
  <% end %>
</div>
</div>

<p><strong><span class="primcolor">BUCKIT</span<span class="altcolor">WEEK</span></strong>
is an intensive 5 day course designed to help you increase your
knowledge of key concepts in the Word of God and gain practical
hands-on experience in communicating God's truth to others. That's why
we call it</p>

<ul style="list-style-type: none; font-size: +2em;">
<li><span class="primcolor strong">B</span>ible</li>
<ul style="list-style-type: none">
<li><span class="primcolor strong">U</span>niversity</li>
<ul style="list-style-type: none">
<li><span class="primcolor strong">C</span>hristian</li>
<ul style="list-style-type: none">
<li><span class="primcolor strong">K</span>nowledge</li>
<ul style="list-style-type: none">
<li><span class="primcolor strong">I</span>ntensive</li>
<ul style="list-style-type: none">
<li><span class="primcolor strong">T</span>raining</li>
<ul style="list-style-type: none">
<li><span class="altcolor strong">WEEK</span></li>
</ul>
</ul>
</ul>
</ul>
</ul>
</ul>
</ul>
