  <p>
    <b>Year</b><br />
    <%= f.text_field :year %>
  </p>

  <p>
    <b>Hotel (use [TBD] to indicate it isn't firmed up yet)</b><br />
    <%= f.text_field :hotel %>
  </p>
  
  <p>
    <b>Location (City, State)</b><br />
    <%= f.text_field :location %>
  </p>

  <p>
    <b>Registration cost</b><br />
    <%= f.text_field :registration_cost %>
  </p>

  <p>
    <b>Registration count</b><br />
    <%= f.text_field :registration_count %>
  </p>

  <p>
    <b>Max seats</b><br />
    <%= f.text_field :max_seats %>
  </p>

  <p>
    <b>Start date</b><br />
    <%= f.datetime_select :start_date %>
  </p>

  <p>
    <b>End date</b><br />
    <%= f.datetime_select :end_date %>
  </p>

  <p>
    <b>First Speaker</b><br />
    <%= f.text_field :speaker_one %>
  </p>

  <p>
    <b>Second Speaker</b><br />
    <%= f.text_field :speaker_two %>
  </p>

  <p>
    <b>Topics (as many as you want, separated by semi-colon)</b><br />
    <%= f.text_field :topics %>
  </p>
