<h1>Editing event</h1>

<%= error_messages_for :event %>

<% form_for(@event) do |f| %>
  <p>
    <b>Year</b><br />
    <%= f.text_field :year %>
  </p>

  <p>
    <b>Location</b><br />
    <%= f.text_field :location %>
  </p>

  <p>
    <b>Registration cost</b><br />
    <%= f.text_field :registration_cost %>
  </p>

  <p>
    <b>Registration count</b><br />
    <%= f.text_field :registration_count %>
  </p>

  <p>
    <b>Max seats</b><br />
    <%= f.text_field :max_seats %>
  </p>

  <p>
    <b>Start date</b><br />
    <%= f.datetime_select :start_date %>
  </p>

  <p>
    <b>End date</b><br />
    <%= f.datetime_select :end_date %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @event %> |
<%= link_to 'Back', events_path %>
