<p>
  <b>Year:</b>
  <%=h @event.year %>
</p>

<p>
  <b>Speakers:</b>
  <%=h @event.speakers.to_sentence %>
</p>
  
<p>
  <b>Hotel:</b>
  <%=h @event.hotel %> (<%= @event.hotel_confirmed? ? " CONFIRMED " : " tentative " %>)
</p>

<p>
  <b>Location:</b>
  <%=h @event.location %>
</p>

<p>
  <b>Topic:</b>
  <ul>
  <% @event.topic_list.each do |t| %>
    <li><%=h t%></li>
  <% end %>
  </ul>
</p>  

<p>
  <b>Registration cost:</b>
  <%=h @event.registration_cost %>
  (<%=h @event.registration_cost_scale(1) %> second time, 
   <%=h @event.registration_cost_scale(2) %> third time)
</p>

<p>
  <b>Registration count:</b>
  <%=h @event.registration_count %>
</p>

<p>
  <b>Max seats:</b>
  <%=h @event.max_seats %>
</p>

<p>
  <b>Start date:</b>
  <%=h @event.start_date %>
</p>

<p>
  <b>End date:</b>
  <%=h @event.end_date %>
</p>

<p> 
  <b>Date Display String:</b>
  <%= h @event.event_date_string %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> | 
<%= link_to 'Back', events_path %>
